.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: 4em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Post-List {
  margin: 2em;
}

.Category-List {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
}
.Category-List li {
  padding: 15px;
}
.Category-List a {
  padding: 15px;
}
.Category-List li:hover {
  text-decoration: underline;
  cursor: pointer;
}
.Category-List .active {
  color: #333;
  text-decoration: underline;
}
.box button {
  margin: 5px;
}
.Comment-Form input {
  border: none;
  box-shadow: none;
  border-bottom: 1px solid grey;
}

.Comments-Title {
  margin: 10px;
}
.Comments-Row {
  align-items: center;
  border-bottom: 1px solid grey;
}
.Comments-Row .button {
  padding: 0 10px;
}
.Comments-Row input {
  border: none;
  box-shadow: none;
}
.Comments-Row input:focus {
  border-bottom: 1px solid #00d1b2;
}
